.sidebar {
    width: 200px;
    min-height: 100vh;
    background: linear-gradient(180deg, #7b68ee, #9370db);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s ease;
    /* position: fixed;
    left: 0;
    top: 0; */
}
.sidebar-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-bottom {
    margin-bottom: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.menu-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-icon {
    width: 24px;
    height: 24px;
    color: white;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.menu-text {
    margin-left: 12px;
    opacity: 1;
}

.sidebar-icon:hover {
    opacity: 1;
}
